**/target/
.idea
*.iml
*.class
*Test.java
**/test/
**/application-*-local.yml
*.bat
/sky-server/src/main/resources/117.72.195.4
/docs/REFACTORING_SUMMARY.md
/docs/DEVELOPMENT_SPECIFICATION.md
/docs/REDIS WSL2部署.md
