<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sky.mapper.EmployeeMapper">

    <select id="pageQuery" resultType="com.sky.readmodel.employee.EmployeePageRM">
        select
        id,
        name,
        username,
        phone,
        status,
        update_time as updateTime
        from employee
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>
        order by id
    </select>

    <update id="update" parameterType="com.sky.entity.Employee">
        update employee
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="sex != null and sex != ''">sex = #{sex},</if>
            <if test="idNumber != null and idNumber != ''">id_number = #{idNumber},</if>

            <!-- 审计字段：由 AOP 填值，SQL 负责写回 -->
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateStatus" parameterType="com.sky.entity.Employee">
        update employee
        <set>
            <if test="status != null">status = #{status},</if>

            <!-- 审计字段：由 AOP 填值，SQL 负责写回 -->
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>


</mapper>
