<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">

    <select id="getSetmealIdsByDishIds" resultType="java.lang.Long">
        select distinct sd.setmeal_id
        from setmeal_dish sd
        <where>
            <if test="dishIds != null and dishIds.size() > 0">
                sd.dish_id in
                <foreach collection="dishIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="dishIds == null or dishIds.size() == 0">
                1 = 0
            </if>
        </where>
    </select>

    <insert id="insertBatch">
        insert into setmeal_dish(setmeal_id, dish_id, name, price, copies)
        values
        <foreach collection="setmealDishes" item="setmealDish" separator=",">
            (#{setmealDish.setmealId}, #{setmealDish.dishId}, #{setmealDish.name}, #{setmealDish.price}, #{setmealDish.copies})
        </foreach>
    </insert>


</mapper>